@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ArmaForces.Arma.Server.Features.Mods
@model ModsModel
@{
    ViewData["Title"] = "Mods";
}

<body>
    <div class="text-center">
        <h1>Mods can be browsed here.</h1>
        <div>
            @if (Model.Mods is null)
            {
                <span style="color: red">Mods cache could not be loaded.</span>
                return;
            }
            <table style="border: black thin solid;">
                <thead>
                    <tr>
                        <th>
                            @nameof(Mod.Name)
                        </th>
                        <th>
                            @nameof(Mod.Type)
                        </th>
                        <th>
                            @nameof(Mod.Source)
                        </th>
                        <th>
                            @nameof(Mod.WorkshopId)
                        </th>
                        <th>
                            @nameof(Mod.LastUpdatedAt)
                        </th>
                        <th>
                            @nameof(Mod.Directory)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mod in Model.Mods)
                    {
                        <tr>
                            <td>
                                @mod.Name
                            </td>
                            <td>
                                @mod.Type
                            </td>
                            <td>
                                @mod.Source
                            </td>
                            <td>
                                @mod.WorkshopId
                            </td>
                            <td>
                                @mod.LastUpdatedAt
                            </td>
                            <td>
                                @mod.Directory
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
